*{
    margin: 0;
    padding: 0;
}
/* font */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared Styles */
.maxi-width{
    max-width: 1360px;
}
.btn{
    padding: 16px;
    width: 164px;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 300;
    border-radius: 8px;
    border: none;
}

/* For Nav-bar */
nav{
    margin-top: 16px;
    margin-bottom: 16px;
}
#heading-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-img{
    width: 139px;
}
#heading-container ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
#heading-container ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 12px;
}

