*{
    margin: 0;
    padding: 0;
}
/* font */

.inter-font {
  font-family: "Inter", sans-serif;
  
}

/* Shared Styles */

.maxi-width{
    max-width: 1360px;
}
.btn{
    padding: 16px;
    width: 164px;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 300;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background: tomato;
}
.S-btn .btn-2:hover{
    background: tomato;
}

            /* For Nav-bar */
nav{
    margin-top: 16px;
    margin-bottom: 16px;
}
#heading-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-img{
    width: 139px;
}
#heading-container ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
#heading-container ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 12px;
}

        /* Hero-Section */

.hero-section{
    max-width: 1600px;
    height: 674px;
    margin: 0 auto;
    background: url("../assets/hero-bg.png");
}

.h-heading{
    color: #30B868;
    background-color: white;
    margin: 0 auto;
    width: 220px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 40px;
    padding-top: 15px;
}
.hero-contain{
    padding-top: 155px;
}
.hero-contain .w{
    color: white;
}
.hero-contain h1{
    font-size: 70px;
    text-align: center;
    padding-top: 16px;
    color: #30B868;
    padding-bottom: 16px;
}
.hero-contain .dis{
    color: white;
    font-size: 18px;
    font-weight: 400;
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
    line-height: 26px;
}
.S-btn{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 180px;
}
.S-btn .btn-1{
    width: 251px;
    border-radius: 5px;
}
.S-btn .btn-2{
    width: 198px;
    background-color: transparent;
    border: 1px solid ;
}

/* Notes Section */

#notes{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #FBFBFB;
}
.note-head{
    max-width: 1360px;
    margin: 0 auto;
    padding-bottom: 44px;
}

.note-head h2{
    color: #001931;
    margin-top: 70px;
    text-align: center;
    font-size: 48px;
    padding-bottom: 16px;
}
.note-head p{
    font-size: 16px;
    color: #627382;
    text-align: center;
}

.card{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card-img{
    width: 60px;
    height: 60px;
    background: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
}

.note-card{
    border: 1px solid;
    width: 325px;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    color: #ffffff;
}
.note-card h4{
    color: #001931;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.note-card p{
    font-size: 20px;
    color: #627382;
    padding-bottom: 70px;
    text-align: center;
}


/* Brain Section */

#brain{
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
}
.brain-container{
    max-width: 1360px;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;

}
.brain-container img{
    width: 600px;
    height: 600px;
}

.brain-info h5{
    font-size: 16px;
    line-height: 20px;
    color: #30B868;
    font-weight: 400;
    padding-bottom: 16px;
}
.brain-container h1{
    font-size: 48px;
    color: #001931;
    font-weight: 700;
    padding-bottom: 16px;
}
.brain-container p{
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
    color: #627382;
}

.brain-container h6{
    font-size: 16px;
    padding-bottom: 16px;
    line-height: 20px;
    color: #001931;
}
.brain-container h6 i{
    color: #30B868;
}

/* Last section */

#motive{
    max-width: 1600px;
    height: 510px;
    margin: 0 auto;
}
.last-container{
    background-color: #f7f6f2;
    max-width: 1360px;
    height: 385px;
    margin: 0 auto;
}
.last-container h2{
    color: #001931;
    text-align: center;
    font-size: 40px;
    padding-top: 80px;
}
.last-container p{
    text-align: center;
    padding-top: 16px;
    color: #627382;
    line-height: 24px;
    padding-bottom: 24px;
}
.l-btn{
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}

.last-btn{
    width: 194px;
    padding: 18px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: white;
    background-color: #30B868;
    border-radius: 8px;
    border: none;
    
}
.s-msg{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 80px;
}

/* footer section */

footer{
    background-color:#001931 ;
    max-width: 1600px;
    height: 400px;
    margin: 0 auto;
}
.footer-container{
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-link{
    max-width: 220px;
}
.social-link p{
    color: white;
    font-size: 20px;
    font-weight: 500
    line-height: 28px;
    padding-bottom: 36px;
}
.s-icon{
    display: flex;
    font-size: x-large;
    gap: 7px;
    
}
.icons{
    background-color: #f7f6f2;
    border-radius: 50%;
}
footer .line{
    max-width: 1100;
    margin-top: 50px;
    border: 1px solid rgb(255, 255, 255);
    
}

footer p{
    color: white;
    text-align: center;
    padding-top: 35px;
    border-top: 1pa solid white;
}