*{
    margin: 0;
    padding: 0;
}
/* font */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* Shared Styles */
.maxi-width{
    max-width: 1360px;
}
.btn{
    padding: 16px;
    width: 164px;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 300;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

            /* For Nav-bar */
nav{
    margin-top: 16px;
    margin-bottom: 16px;
}
#heading-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-img{
    width: 139px;
}
#heading-container ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
#heading-container ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 12px;
}

        /* Hero-Section */

.hero-section{
    max-width: 1600px;
    height: 674px;
    margin: 0 auto;
    background: url("../assets/hero-bg.png");
}

.h-heading{
    color: #30B868;
    background-color: white;
    margin: 0 auto;
    width: 220px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 40px;
    padding-top: 15px;
}
.hero-contain{
    padding-top: 155px;
}
.hero-contain .w{
    color: white;
}
.hero-contain h1{
    font-size: 70px;
    text-align: center;
    padding-top: 16px;
    color: #30B868;
    padding-bottom: 16px;
}
.hero-contain .dis{
    color: white;
    font-size: 18px;
    font-weight: 400;
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
    line-height: 26px;
}
.S-btn{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 180px;
}
.S-btn .btn-1{
    width: 251px;
    border-radius: 5px;
}
.S-btn .btn-2{
    width: 198px;
    background-color: transparent;
    border: 1px solid ;
}

/* Notes Section */
#notes{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #FBFBFB;
}
.note-head{
    max-width: 1360px;
    margin: 0 auto;
    padding-bottom: 44px;
}

.note-head h2{
    color: #001931;
    margin-top: 70px;
    text-align: center;
    font-size: 48px;
    padding-bottom: 16px;
}
.note-head p{
    font-size: 16px;
    color: #627382;
    text-align: center;
}

.card{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card-img{
    width: 60px;
    height: 60px;
    background: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
}

.note-card{
    border: 1px solid;
    width: 325px;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    color: #ffffff;
}
.note-card h4{
    color: #001931;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.note-card p{
    font-size: 20px;
    color: #627382;
    padding-bottom: 70px;
    text-align: center;
}


/* Brain Section */